@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-mba-info {
    background-image: url("https://res.cloudinary.com/dyddqgyby/image/upload/v1696230482/mechanic_knr0ct.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 1500px;
}

.side-p {
    color: grey;
    font-size: 18px;
}

.side-span {
    color: #228b22;
}

.mba-para-info {
    font-weight: 500;
    font-size: 30px;
    font-family: "Roboto";
    color:darkgreen;
}

.mba-head-info {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 35px;
    font-weight: 600;
}
.uni-logo{
    height:35px;
    width:40px;
    
}
.mba-card {
    background-color: #051650;
    height: 450px;
    width: 350px;
    padding: 60px;
}

.mba-card-head {
    color: #ffffff;
    font-family: "roboto";
    font-size: 25px;
    font-weight: 600;
}

.mba-card-para {
    font-size: 18px;
    font-family: "roboto";
    color: #22b822;
}

.mba-card-para2 {
    font-family: "roboto";
    color: #ffffff;
}
.mba-why-bg{
    background-image:url("https://res.cloudinary.com/dyddqgyby/image/upload/v1696230307/link-bg_q94pxx.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height:450px;
    width:1500px;
    padding:60px;
}
.mba-about-head4{
color:#ffffff;
font-family:"roboto";
font-size:28px;
font-weight:600;
}
.mba-about-para4{
color:#ffffff;
font-family:"roboto";
font-size:18px;
}
.mba-about-indo {
    color: #000000;
    font-size: 28px;
    font-family: "roboto";
    font-weight: 600;
}

.mba-about-para {
    color: grey;
    font-size: 18px;
    font-family: "roboto";
}

.mba-about-head2 {
    color: 051650;
    font-size: 25px;
    font-weight: 600;
}

.mba-info-para2 {
    color: darkgreen;
    font-size: 21px;
    font-family: "roboto";
}

.mba-hr2 {
    border-style: solid;
    border-width: 2px;
    background-color: darkgreen;
}
.mba-img{
    height:340px;
    width:550px;
    padding:25px;
}
.mba-li {
    color: grey;
    font-size: 18px;
}
.footer-set {
    background-color: #000000;
    height: 250px;
    width: 1500px;
    padding: 30px;
}

.h-set {
    color: #000000;
    font-weight: 400;
}

.image-resize-icon {
    height: 80px;
    width: 80px;
}

.unordered-set {
    list-style-type: none;
}

.footer-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 500;
}

.footer-horizontal {
    border-style: solid;
    border-width: 1px;
    border-color: green;
}

.unordered-set {
    color: grey;
    font-family: "Roboto";
    font-size: 18px;
}

.footer-paragraph {
    color: grey;
    font-family: "Roboto";
    font-size: 18px;
}

.image-size-1 {
    height: 60px;
    width: 190px;
}

.nav-link,
.dropdown-menu {
    color: #191654 !important;
    font-size: 18px;
    font-weight: 600;
    padding:15px;
    margin-left:4px;
}

.align-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bg-set {

    background-color: #2a5298;
}

.a-set {
    color: #ffffff;
    font-size: 17px;
}

.companies-set {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image-set-c {
    height: 80px;
    width: 200px;
    padding:15px;
}